.Header {
  text-align: left;
  box-sizing: border-box;
  border-bottom: 1px solid #aaa;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.Title {
  margin: 0;
  font-size: 1.2rem;
  color: #fff;
}
